:root {
  --primary: #647d87;
  --secondary: #9dd9e0;
  --accent: #f6d776;
}

html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: auto;
}

.title-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 2rem 0;
}

.input {
  margin-top: 10px;
  padding: 0 4px;
  color: var(--primary);
  background-color: var(--secondary);
}

.title {
  font-size: 32px;
  color: var(--accent);
  font-weight: bold;
  font-size: 2.5rem;
}

.title-category {
  margin: 0 3rem;
}

.warp {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 2;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.popular-list {
  width: auto;
  height: 20rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 7rem;
  height: 14rem;
  object-fit: cover;
  transition: transform 0.2s ease-out;
}

.overflow {
  overflow: hidden;
  max-height: 14rem;
}

.image:hover {
  transform: scale(110%);
}

.image:focus {
  outline: none;
}

.title-poster {
  width: 140px;
  text-align: center;
  font-size: large;
  margin-top: 4px;
}

.rate {
  color: var(--accent);
  margin-bottom: 0;
  font-size: medium;
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  .title {
    font-size: 1.4rem;
  }
  .input {
    width: 6rem;
    font-size: small;
    margin-top: 6px;
  }
  .image {
    width: 7rem;
    height: 12rem;
    box-shadow: 2px 2px 6px black;
  }
  .overflow {
    padding: 0 8px;
  }
  .popular-list {
    height: 16rem;
  }
  .title-category {
    margin-left: 1.5rem;
  }
  .title-poster {
    font-size: medium;
  }
  .rate {
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 767px) {
  .title-category {
    margin-left: 3rem;
  }
  .popular-list {
    height: 20rem;
  }
}
